<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MP.ReportingServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MP.ReportingServices.Properties.Settings>
            <setting name="MP_ReportingServices_RSService_ReportingService2010"
                serializeAs="String">
                <value>http://desktop-51p1738:80/ReportServer_SSRS/ReportService2010.asmx</value>
            </setting>
        </MP.ReportingServices.Properties.Settings>
    </applicationSettings>
</configuration>